{% extends 'base.html' %}
{% block content %}
    <h1>Hello world</h1>


    <p> This is my first webpage </p>
    <p> Isn't This Cool </p>
    <p> I had on Debug mode </p>
    <p> My name is {{name}} </p>
    <p> There is some {{ stuff | safe }} </p>
    <p> There is some {{ stuff | striptags }} </p>
    <p> There is some {{ stuff | title }} </p>
    <p> Favourite Pizza's are 

    {% for i in favorite_pizza %}

        {% if i == 42 %}
            {{ i + 100  }} </br>
        {% else %}
            {{ i | capitalize }}
        {% endif %}

    {% endfor %}
    </p>

    {{ favorite_pizza.0 | reverse}}
{% endblock%}